<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body class="bg-[#000000] h-screen flex flex-col">
    <!-- Navigation -->
    <div class="flex flex-col 700px:flex-row items-center justify-between w-full min-h-[4rem] bg-[#160008] fixed top-0 z-10 font-poppins py-4 gap-4 700px:gap-0 px-10">
        <div class="flex flex-col 700px:flex-row items-center justify-center w-full 700px:w-fit h-full">
            <div class="flex items-center justify-between flex-row gap-5 text-white w-full 700px:w-fit">
                <p class="text-xl font-semibold">Hostman</p>
                <p id="hamburger" class="text-2xl flex 700px:hidden"><i class="fa-solid fa-bars"></i></p>
            </div>
        </div>
        <div id="links" class="hidden flex-col 700px:flex-row 700px:flex 1200px:hidden items-start 700px:items-center justify-center links gap-3 700px:gap-5 text-white h-full w-[95%] 700px:w-fit">
            <a href="/albums">Albums</a>
            <a href="/account">API</a>
            <a href="/logs">Logs</a>
            <a href="/settings">Settings</a>
        </div>
        <a href="/upload" class="h-10 flex items-center justify-center w-[7rem] font-semibold text-lg text-white rounded-lg bg-[#8B1743]">
            Upload +
        </a>
    </div>



    <script>
        let hamburger = document.getElementById('hamburger');
        let link = document.getElementById('links')
        let button = document.getElementById('button')

        hamburger.addEventListener('click', () => {
            link.classList.toggle('hidden')
            link.classList.toggle('flex')
            button.classList.toggle('hidden')
            button.classList.toggle('block')
        });
    </script>