<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="bg-[#000000]">
    <!-- Navigation -->
     <div class="flex items-center justify-center w-full min-h-[4rem] bg-[#160008]">
        <div class="flex items-center justify-between w-[95%] h-full">
            <div class="flex items-center justify-center flex-row gap-5">
                <div class="w-10 h-10 rounded-full bg-gray-400">
                </div>
                <p class="text-xl font-semibold text-white">Hostman</p>
            </div>
            <button class="h-10 w-[7rem] font-semibold text-lg text-white rounded-lg bg-[#8B1743]">
                Upload +
            </button>
        </div>
     </div>
     <!-- Main Body -->
      <div class="flex bg-red-700 min-h-screen flex-row items-center justify-start w-full">
        <div class="flex items-center justify-center w-[50%] bg-blue-700 h-screen fixed">

        </div>
        <div class="flex items-center justify-center w-[50%] bg-green-700 h-[200vh] fixed">

        </div>
      </div>
</body>
</html>