<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body class="bg-[#000000] h-screen flex flex-col">
    <!-- Navigation -->
    <div class="flex items-center justify-center w-full min-h-[4rem] bg-[#160008]">
        <div class="flex items-center justify-between w-[95%] h-full">
            <div class="flex items-center justify-center flex-row gap-5">
                <div class="w-10 h-10 rounded-full bg-gray-400"></div>
                <p class="text-xl font-semibold text-white">Hostman</p>
            </div>
            <button class="h-10 w-[7rem] font-semibold text-lg text-white rounded-lg bg-[#8B1743]">
                Upload +
            </button>
        </div>
    </div>
    
    <!-- Main Body -->
    <div class="flex grow w-full">
        <div class="flex flex-col items-center justify-center w-[5%] bg-[#151313] min-h-full">
            <div class="flex flex-col items-center justify-center text-3xl text-[#FB2576] gap-10 py-5">
                <a href="/images"><i class="fa-solid fa-image"></i></a>
                <a href="/api"><i class="fa-solid fa-code"></i></a>
                <a href="/embededit"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="/customize"><i class="fa-solid fa-terminal"></i></a>
                <a href="/settings"><i class="fa-solid fa-gear"></i></a>
            </div>
        </div>
        <div class="flex items-center justify-center w-full bg-[#000000]">
            <div class="grid grid-cols-3 w-[90%] items-center justify-center gap-10">
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
                <div class="w-full h-[20rem] bg-red-600"></div>
            </div>
        </div>
    </div>
</body>

</html>
