<%- include('partials/nav') -%>

<div class="flex grow w-full mt-[4rem]">
    <%- include('partials/sidebar') -%>
    <div class="flex-grow ml-[5%] text-white">
        <div class="flex items-center justify-center w-full min-h-[80vh]">
            <div class="bg-[#0b061b] rounded-lg shadow-lg p-6 w-4/5 min-h-[70vh] overflow-y-scroll">
                <pre class="whitespace-pre-wrap break-words font-mono rounded-lg"><%= logs %></pre>
            </div>
        </div>
    </div>
</div>
</body>

</html>