<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="bg-[#161F29]">
    <div class="flex h-screen items-center justify-start flex-col">
        <br>
        <img class="rounded-lg" src="images/temp.png" alt="" srcset="">
        <br>
        <p class="text-white text-2xl">Title</p>
        <p class="text-white"> dd<%= //(img.fileSize/1024).toFixed(10) %>MB Used</p>
        <p class="text-white">Uploaded On ss<%= //img.time %></p>
    </div>
</body>
</html>