<%- include('partials/nav') -%>

<div class="flex grow w-full mt-[4rem]">
    <%- include('partials/sidebar') -%>
    <div class="flex-grow ml-[5%] flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6 text-center">Upload Files</h2>
            <form action="/upload" method="POST" enctype="multipart/form-data" class="space-y-6">
                <div class="relative mb-4">
                    <label class="block mb-2 text-gray-600">Select File(s)</label>
                    <input type="file" name="files" id="fileInput" multiple accept="*/*" class="border border-gray-300 rounded-lg p-2 w-full">
                </div>
                <button type="submit" class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700">Upload</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
